*{
    margin: 0px;
    padding: 0px;
    
}



img {
    height: 2;
    /* height: fit-content; */
}



.container{

    background-color:white;
}

.sidebar{
    background-color: rgb(193, 189, 189);
}
.sidebar nav {
    padding: 45 px;
    font-size: 30px;
    width:300px;
height: 100vh;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding:33px;
 
}
.sidebar nav li a{

    text-decoration: none;
    color:black;
}



.main{
   /* background-color: yellow;*/
    width:90vw;
}

.infocontainer{
 /*background-color: rgb(181, 61, 157);*/
  display:flex;
  height: 55vh;
  width:70vw;
  margin: 147px auto;
  
  justify-content:space-around;
}


.devInfo{
    display:flex;
    flex-direction:column;
justify-content: center;

}
.container{
    display: flex;
    
}


.devPic img{
height: 300px;
width: 300px;
justify-content:center ;
margin-top: 60px;

}

.hello{
    font-size: 40px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Amiri Quran', serif;
}
.about{
    font-size: 30px;

}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 2px 4px;
    cursor: pointer;
} 
.buttons button:hover {
    background-color: white;
    color: dodgerblue;
}
.moreabout{
margin-top: 22px;
font-size: 18px;
}

/***********************************************Contact.html*****************************************/
.contactform{
    
    padding: 0px 34px;
    padding-top: 144px ;
    
}
.contactform h1{
padding: 15px 0;   
}

.contactform  form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    font-size: 14px;
    padding:3px;
    margin: 6px 0 0 0 ;

}


#emailHelp{

    font-size: 13px;
    color: midnightblue;
    margin:0 5px;
    padding: 3px 0 0 0 ;


}

#form-check{

    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin:3px 0;

}
.btn-sm{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 12;
    margin: 2px 4px;
    cursor: pointer;
}

.btn-sm hover{
        background-color: white;
    color: dodgerblue;

}